In [1]:
import pandas as pd

In [11]:
df_Labs=pd.read_excel("cardiac_outcomes.xlsx","Labs")
df_Hospitalization_Discharge=pd.read_excel("cardiac_outcomes.xlsx","Hospitalization_Discharge")
df_CardiacComplications=pd.read_excel("cardiac_outcomes.xlsx","CardiacComplications")
df_Responsiveness=pd.read_excel("cardiac_outcomes.xlsx","Responsiveness")
df_PatientHistory=pd.read_excel("cardiac_outcomes.xlsx","PatientHistory")
df_Demography=pd.read_excel("cardiac_outcomes.xlsx","Demography")
df_Patient_Precriptions=pd.read_excel("cardiac_outcomes.xlsx","Patient_Precriptions")

      inpatient_number  body_temperature  pulse  respiration  \
0               857781              36.7     87           19
1               743087              36.8     95           18
2               866418              36.5     98           18
3               775928              36.0     73           19
4               810128              35.0     88           19
...                ...               ...    ...          ...
2003            740689              36.1    117           22
2004            734280              36.3     70           21
2005            781004              36.8    113           19
2006            744870              36.4    134           19
2007            791864              36.3    100           19

      systolic_blood_pressure  diastolic_blood_pressure         map  fio2  \
0                         102                        64   76.666667    33
1                         150                        70   96.666667    33
2                         102                        67   78.666667    33
3                         110                        74   86.000000    33
4                         134                        62   86.000000    33
...                       ...                       ...         ...   ...
2003                      120                        80   93.333333    33
2004                      120                        86   97.333333    29
2005                      135                       100  111.666667    33
2006                       92                        72   78.666667    41
2007                      142                        80  100.666667    33

      creatinine_enzymatic_method   urea  ...  measured_residual_base  \
0                           108.3  12.55  ...                    -2.1
1                            62.0   4.29  ...                     NaN
2                           185.1  15.99  ...                     NaN
3                           104.8   8.16  ...                     NaN
4                            83.9   6.86  ...                     NaN
...                           ...    ...  ...                     ...
2003                        115.3   8.72  ...                     NaN
2004                         63.1   5.96  ...                     NaN
2005                         51.9   4.27  ...                     NaN
2006                        191.1  35.87  ...                    -2.5
2007                        104.0   9.26  ...                     NaN

      measured_bicarbonate  carboxyhemoglobin  body_temperature_blood_gas  \
0                     21.2                0.4                        37.0
1                      NaN                NaN                         NaN
2                      NaN                NaN                         NaN
3                      NaN                NaN                         NaN
4                      NaN                NaN                         NaN
...                    ...                ...                         ...
2003                   NaN                NaN                         NaN
2004                   NaN                NaN                         NaN
2005                   NaN                NaN                         NaN
2006                  18.8                0.3                        37.0
2007                   NaN                NaN                         NaN

      oxygen_saturation  partial_oxygen_pressure  oxyhemoglobin  anion_gap  \
0                  97.0                     93.0           95.9       17.8
1                   NaN                      NaN            NaN        NaN
2                   NaN                      NaN            NaN        NaN
3                   NaN                      NaN            NaN        NaN
4                   NaN                      NaN            NaN        NaN
...                 ...                      ...            ...        ...
2003                NaN                      NaN            NaN        NaN
2004                NaN                      NaN            NaN        NaN
2005                NaN                      NaN            NaN        NaN
2006               96.0                     84.0           95.6       21.8
2007                NaN                      NaN            NaN        NaN

      free_calcium  total_hemoglobin
0             1.14             125.0
1              NaN               NaN
2              NaN               NaN
3              NaN               NaN
4              NaN               NaN
...            ...               ...
2003           NaN               NaN
2004           NaN               NaN
2005           NaN               NaN
2006          0.94             139.0
2007           NaN               NaN

[2008 rows x 107 columns]

33.Retrieve the row with minimum white_blood_cell count using sorting technique.

In [28]:
df_Labs=pd.read_excel("cardiac_outcomes.xlsx","Labs")
white=df_Labs.sort_values(by=['white_blood_cell'])
white.head(1)

,inpatient_number,body_temperature,pulse,respiration,systolic_blood_pressure,diastolic_blood_pressure,map,fio2,creatinine_enzymatic_method,urea,...,measured_residual_base,measured_bicarbonate,carboxyhemoglobin,body_temperature_blood_gas,oxygen_saturation,partial_oxygen_pressure,oxyhemoglobin,anion_gap,free_calcium,total_hemoglobin
865,746068,37.1,71,20,130,88,102.0,21,88.8,7.26,...,-2.6,21.6,0.3,37.0,97.0,95.0,96.3,16.8,1.11,94.0

34.get the last letter of discharge_department of patients using RegEX

In [45]:
df_Hospitalization_Discharge=pd.read_excel("cardiac_outcomes.xlsx","Hospitalization_Discharge")

35.find the way to reverse string for given input (eg: input : This hackathon is about cardiac outcomes: outcomes cardiac about is hackathon This

In [19]:
string = " This hackthon is about cardiac outcomes"
s = string.split() [::-1]
l = []
for i in s :
   l.append(i)
print(" ".join(l))

outcomes cardiac about is hackthon This

In [ ]:
Q.38 find the length of Tuple for any given input (Hint: Input a string from user )

In [37]:
name = ()
name = input('Enter the string')
t = tuple(name.split())
print(len(t))

Enter the string jag hjasvjhs shh. bvsj sjsa sb sb ssh jhsvjhs jh

10

Q40.Select 25 different random values between 200 to 800.

In [75]:
import random
print("25 Random values between 200 to 800 :")
for i in range(25) :
   y = random.randrange(200, 800)
   print(y)

25 Random values between 200 to 800 :
332
399
615
605
493
767
439
358
390
679
617
321
242
638
345
615
622
673
641
274
541
775
323
405
612