In [4]:
import pandas as pd
import numpy as np

In [117]:
df_Hospitalization_Discharge = pd.read_excel("Cardiac_Outcomes.xlsx","Hospitalization_Discharge")
df_Demography=pd.read_excel("Cardiac_Outcomes.xlsx","Demography")
df_Patient_Precriptions=pd.read_excel("Cardiac_Outcomes.xlsx","Patient_Precriptions")

# Q65.Which Admission Ward has maximum number of visits scheduled

In [59]:
Visit_countMax = df_Hospitalization_Discharge.groupby(by="admission_ward")["visit_times"].idxmax()
Visit_countMax

admission_ward
Cardiology     1225
GeneralWard    1058
ICU             180
Others          211
Name: visit_times, dtype: int64

# Q66.Display total count of patients in each discharge_department based on gender

In [98]:
merged_df = pd.concat([df_Demography, df_Hospitalization_Discharge])
grouped_df = merged_df.groupby(['discharge_department','gender']).size().unstack()
grouped_df

Empty DataFrame
Columns: []
Index: []

# Q67.How many Unique patients were precribed each type of medication?

In [106]:
Unique_patients_Per_Medication = df_Patient_Precriptions.groupby('Drug_name')['inpatient_number'].nunique()
Unique_patients_Per_Medication

Drug_name
Aspirin enteric-coated tablet                        958
Atorvastatin calcium tablet                          822
Benazepril hydrochloride tablet                      434
Clopidogrel Hydrogen Sulphate tablet                 401
Deslanoside injection                               1017
Digoxin tablet                                       999
Dobutamine hydrochloride injection                    22
Enoxaparin Sodium injection                          113
Furosemide injection                                1720
Furosemide tablet                                   1641
Heparin Sodium injection                             153
Hydrochlorothiazide tablet                           283
Isoprenaline Hydrochloride injection                  30
Isosorbide Mononitrate Sustained Release tablet      326
Meglumine Adenosine Cyclophosphate for injection    1115
Metoprolol Succinate Sustained-release tablet        523
Milrinone injection                                  709
Nitroglycerin injection                              203
Shenfu injection                                     338
Spironolactone tablet                               1833
Torasemide tablet                                    252
Valsartan Dispersible tablet                         348
metoprolol tartrate injection                        307
sulfotanshinone sodium injection                     570
warfarin sodium tablet                               253
Name: inpatient_number, dtype: int64

# Q68.Find 5 patients with the highest Discharge days greater than 20. List their most common outcome

In [111]:
Filtered_patients = df_Hospitalization_Discharge[df_Hospitalization_Discharge['dischargeDay'] > 20]
#Filtered_patients
#selected_columns = df_Hospitalization_Discharge.loc[:, ['inpatient_number', 'dischargeDay', 'outcome_during_hospitalization']]
#selected_columns
Top_5_patients = Filtered_patients.nlargest(5, 'dischargeDay')
Top_5_patients
selected_columns=Top_5_patients.loc[:, ['inpatient_number', 'dischargeDay', 'outcome_during_hospitalization']]
selected_columns

      inpatient_number  dischargeDay outcome_during_hospitalization
884             794077           123                          Alive
1613            768711           118                          Alive
1548            791880            88                          Alive
1573            794784            82                          Alive
1513            757711            76                          Alive

# Q69.Get the list of patient ID's which are not there in prescriptions but in demographics

In [112]:
Demographics_IDs = set(df_Demography['inpatient_number'])
Prescriptions_IDs = set(df_Patient_Precriptions['inpatient_number'])
Missing_IDs = Demographics_IDs - Prescriptions_IDs
Missing_IDs_List = list(Missing_IDs)
Missing_IDs_List

[789308]

# Q70.On average, what is the most frequent weekday of admission?

In [121]:
df_Hospitalization_Discharge['weekday'] = pd.to_datetime(df_Hospitalization_Discharge['Admission_date']).dt.dayofweek
Weekday_count = df_Hospitalization_Discharge['weekday'].value_counts()
Most_Frequent_Weekday = Weekday_count.index[0]
Weekday_Names = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
Most_Frequent_Weekday_Name = Weekday_Names[Most_Frequent_Weekday]
f"On average, the most frequent weekday of admission is {Most_Frequent_Weekday_Name}"

'On average, the most frequent weekday of admission is Monday'