In [1]:
import pandas as pd

In [7]:
df_Demography=pd.read_excel("Cardiac_Outcomes.xlsx","Demography")

In [8]:
df_Demography=df_Demography['occupation'].value_counts().to_frame('count')
df_Demography

               count
occupation
UrbanResident   1670
farmer           198
Others            89
worker            17
Officer            7

In [9]:
import numpy as ny